@charset "UTF-8";

body{
    color: #464655;
    font-family: "Lucida Console", "Courier New", monospace;
}

.clear-both {
    clear: both;
 }

#topContain{
    margin-left: auto;
    margin-right: auto;
    line-height: 5em;
}

#logo{
    float: left;
    font-size: 2.5em;
    padding-left: 0.5em;
    padding-top: 0.25em;
}

#nav{

}

#navHome{
    background-color: #FFE5EF;
}

#navAbout{
    background-color: #FFD6E6;
}

#navResume{
    background-color: #FFC2D9;
}

#navContact{
    background-color: #FFADCD;
}

#midContain{
    
}